<div class="input-wrapper">
  @if (label()) {
  <label [for]="id()" class="input-label">
    {{ label() }}
    @if (required()) {
    <span class="required">*</span>
    }
  </label>
  }

  <div class="input-container">
    @if (prefixIcon()) {
    <span class="input-icon input-icon-prefix">
      <ng-content select="[prefix]"></ng-content>
    </span>
    }

    <input [id]="id()" [type]="type()" [value]="value()" [placeholder]="placeholder()" [disabled]="disabled()"
      [required]="required()" [readonly]="readonly()" (input)="onInputChange($event)" (blur)="onBlur()"
      (focus)="onFocus()" [class.has-prefix]="prefixIcon()" [class.has-suffix]="suffixIcon()" [class.error]="error()" />

    @if (suffixIcon()) {
    <span class="input-icon input-icon-suffix">
      <ng-content select="[suffix]"></ng-content>
    </span>
    }
  </div>

  @if (error()) {
  <span class="error-message">{{ error() }}</span>
  }
  @if (hint()) {
  <span class="hint-message">{{ hint() }}</span>
  }
</div>